* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin: 1.5em;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/tupacshirt2.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  overflow: hidden;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

.logo {
  color: white;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav ul {
  list-style: none;
  margin-top: 8em;
}

nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}

nav ul a:hover {
  background: #ebebeb;
}

nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header svg {
  width: 2em;
  margin-top: -0.6rem;
  cursor: pointer;
}

h1 {
  font-size: 3.6rem;
  margin-top: 2em;
  line-height: 3.6rem;
  margin-bottom: 3rem;
}

.subhead {
  font-size: 1.3rem;
}

section.hero {
  color: white;
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

section.hero .down-arrow {
  stroke: white;
  position: absolute;
  bottom: 5em;
  width: 1rem;
  animation: moveArrow 1s alternate-reverse infinite;
}

section.hero .down-arrow path {
  fill: white;
}

.more-info {
  width: 100%;
  height: auto;
}

.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}

.more-info h3 {
  margin-bottom: 2rem;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  overflow: hidden;
}

.content img {
  width: 150px;
  height: auto;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.07);
  padding: 2em 0;
  margin-bottom: 0.5em;
}

.content .shirt-container {
  padding: 1.2em;
}

.content .shirt-container .shirt-container__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  .wrapper {
    margin: 1.5em 5em;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1.5em;
    font-size: 1rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 60rem;
  }
  .logo {
    color: black;
    font-size: 1.6rem;
  }
  .logo span {
    color: red;
  }
  section.hero {
    color: black;
    height: auto;
    width: 40%;
    height: 50rem;
  }
  section.hero p.subhead {
    margin-bottom: 8em;
  }
  section.hero svg.down-arrow {
    stroke: black;
    position: unset;
  }
  section.hero svg.down-arrow path {
    fill: black;
  }
  .nav-menu ul a {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */